root = true

[*]
ktlint_code_style = ktlint_official
max_line_length = 120
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
ktlint_experimental = enabled
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_packages_to_use_import_on_demand = unset
ktlint_function_naming_ignore_when_annotated_with = [Composable]
ktlint_standard_function-naming = disabled
ktlint_standard_backing-property-naming = disabled
ktlint_standard_class-naming = disabled
ktlint_standard_filename = disabled
ktlint_standard_no-empty-file = disabled
ktlint_standard_no-wildcard-imports = disabled

[*{/generated/}*]
ktlint_experimental = disabled
ktlint_standard = disabled

[*.bat]
ktlint_experimental = disabled
ktlint_standard = disabled

[**/build/**]
ktlint_experimental = disabled
ktlint_standard = disabled

[**/src/commonTest/**]
ktlint_standard_max-line-length = disabled
